.gdymc_module {
  &.connect-lower {
    .module:not([connect='false']) {
      padding-bottom: 0;
    }
  }
}

.gdymc_module {
  &.connect-upper {
    .module:not([connect='false']) {
      padding-top: 0;
    }
  }
}

.module {
  position: relative;
  overflow: hidden;

  padding: var(--module-spacing) 0;
}