:root {
  --navigation-height: 80px;
  --main-menu-width: 160px;
  --main-menu-highlight-width: 160px;
}

header {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  z-index: 1000;
  height: var(--navigation-height);
  background-color: var(--mainmenu-background-color);
  box-shadow: var(--shadow-elevation-medium);

  .header.desktop {
    display: none;

    @include device-size('tablet') {
      display: grid;
    }

    @media (pointer:coarse) {
      display: none;
    }

    top: 0;
    width: 100%;
    z-index: 1000;

    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: calc(17px / 1) 0;

      img {
        object-fit: contain;
        height: calc(var(--navigation-height) - (17px * 2));
        width: 100%;
      }
    }

    // Mainmenu
    nav.main-nav {
      > ul.main-menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
          position: relative;
          font-family: var(--navigation-font-family);
          font-size: var(--navigation-font-size);
          font-weight: var(--navigation-font-weight);
          width: auto;
          width: -webkit-calc-size(auto, size);
          width: calc-size(auto, size);

          transition: width 0.12s ease-in-out;

          > a {
            display: inline-flex;
            align-items: center;
            justify-content: stretch;
            width: 100%;
            height: var(--navigation-height);
            color: var(--mainmenu-text-color);
            padding: 0 var(--inner-spacing-md);
            text-decoration: none;
          }

          > ul.sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: auto;
            width: -webkit-calc-size(auto, size);
            width: calc-size(auto, size);
            height: 0%;
            background-color: var(--submenu-background-color);
            padding: 0;
            list-style: none;
            opacity: 0;
            pointer-events: none;
            transition: 
              width 0.12s ease-in-out,
              height 0.12s ease-in-out,
              opacity 0.12s ease-in-out;

            > li {
              &:hover {
                background-color: var(--submenu-background-color-hover);
              }

              > a {
                display: block;
                color: var(--submenu-text-color);
                padding: 0 var(--inner-spacing-md);
                text-decoration: none;

                transition: padding 0.12s ease-in-out;
              }
            }
          }

          &:hover {
            background-color: var(--mainmenu-background-color-hover);

            &:has(> ul.sub-menu) {
              width: var(--main-menu-width);
            }

            > ul.sub-menu {
              width: var(--main-menu-width);
              height: auto;
              height: -webkit-calc-size(auto, size);
              height: calc-size(auto, size);
              opacity: 1;
              pointer-events: auto;
              box-shadow: var(--shadow-elevation-high);

              > li > a {
                padding: var(--inner-spacing-sm) var(--inner-spacing-md);
              }
            }
          }
        }
      }
    }
  }
}

header.mobile {
  display: flex;

  @include device-size('tablet') {
    display: none;
  }

  @media (pointer:coarse) {
    display: flex;
  }

  position: fixed !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  background-color: var(--mainmenu-background-color);

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: calc(var(--inner-spacing-sm) - 2px) var(--inner-spacing-lg);

    img {
      object-fit: contain;
      object-position: 0 center;
      height: calc(60px - (var(--inner-spacing-sm) * 2) + 4px);
      width: 100%;
    }
  }

  .mobile-menu-trigger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 100%;
    padding: 0 var(--inner-spacing-lg);

    > span {
      height: 2px;
      width: 30px;
      background-color: var(--standard-off-white);

      &:nth-child(1) {
        width: 20px;
      }

      transition: 
        transform 0.12s ease-in-out, 
        width 0.12s ease-in-out;
    }

    &.close {
      height: 16px;

      > span {
        width: 25px;
        transform-origin: 56% 50%;

        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        &:nth-child(2) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: var(--navigation-height);
    transform: translateX(100%);
    height: calc(100% - var(--navigation-height));
    overflow-y: auto;
    width: 80%;
    left: 20%;
    background-color: var(--mainmenu-background-color-hover);
    transition: transform 0.12s ease-in-out;
    z-index: 999;

    @include device-size('tablet') {
      width: 30%;
      left: 70%;
    }

    &--open {
      transform: translateX(0%);
    }

    // Mainmenu

    > ul.main-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      list-style: none;
      padding: 0;
      margin: 0;
      min-height: 100%;

      > li {
        font-family: var(--navigation-font-family);
        font-size: var(--navigation-font-size);
        font-weight: var(--navigation-font-weight);

        > a {
          display: block;
          padding: var(--inner-spacing-md);
          padding-bottom: calc(var(--inner-spacing-sm) / 1.5);
          color: var(--submenu-text-color);
          text-decoration: none;
        }
      }

      > li:last-child {
        padding-bottom: var(--inner-spacing-md);
      }

      > li.highlight {
        background-color: var(--submenu-background-color-accent);
        padding-bottom: var(--inner-spacing-md);

        > a {
          color: var(--submenu-text-color);
        }
      }

      > li.highlight:last-child {
        position: sticky;
        bottom: 0;
        margin-top: auto;
      }
    } 

    // Submenu

    > ul.main-menu > li > ul.sub-menu {
      padding-left: calc(var(--inner-spacing-md) + 2px);
      list-style: none;

      > li {
        border-left: 2px solid var(--submenu-background-color-hover);

        > a {
          display: inline-block;
          color: var(--submenu-text-color);
          font-size: .9rem;
          padding: calc(var(--inner-spacing-sm) / 2) 0 calc(var(--inner-spacing-sm) / 2) var(--inner-spacing-sm);
          text-decoration: none;
          word-break: break-word;
          hyphens: auto;
        }
      }
    }

    > ul.main-menu > li.highlight > ul.sub-menu {
      height: 100%;
      padding: 0 var(--inner-spacing-md);

      > li {
        border: none;

        > a {
          color: var(--submenu-text-color-accent);
          padding-left: 0;
        }
      }
    }

    > ul.main-menu > li.highlight:last-child > ul.sub-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: var(--inner-spacing-md);

      > li > a {
        font-size: 1.2rem;
      }
    }
  }
}