header {
  position: relative;
  z-index: 1000;
  align-items: center;
  pointer-events: none;

  &.mobile {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    pointer-events: all;
    left: 100%;
    width: 80vw;
    height: 100vh;
    background-color: var(--base-color);
    transition: left 0.12s ease-in-out;
  }

  &.mobile-menu--open {
    left: 20%;
  }

  .mobile-menu-trigger {
    display: block;
    position: relative;
    left: -50px;

    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: var(--text-color-dark);
      margin: 6px 0;
      transition: 0.4s;
    }

    &.close {
      span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
    gap: 30px;
    height: 100%;

    .main {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li a {
          display: block;
          color: var(--text-color-dark);
          text-decoration: none;
          font-size: var(--navigation-font-size);
          font-weight: var(--navigation-font-weight);
          letter-spacing: var(--navigation-letter-spacing);
          padding: 10px 0;
          transition: color 0.15s ease-in-out;
          cursor: pointer;

          &:hover {
            color: var(--text-color-dark);
          }
        
        }
      }
    }

    .cta {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

  &.grid {
    display: none;
  }

  @include device-size('desktop') {
    &.grid {
      position: fixed;
      display: grid;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
    }

    &.mobile {
      display: none;
    }

    .logo {
      position: relative;
      display: block;
      width: 50px;
      height: auto;
      padding: var(--inner-spacing-sm) 0;
      z-index: 10;
      pointer-events: all;
    }

    nav {
      ul.menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        gap: 30px;
        margin: 0;
        padding: 0;
        pointer-events: all;
  
        li a {
          display: block;
          color: var(--text-color-dark);
          text-decoration: none;
          font-family: var(--navigation-font-family);
          font-size: var(--navigation-font-size);
          font-weight: var(--navigation-font-weight);
          letter-spacing: var(--navigation-letter-spacing);
          padding: 30px 0;
          transition: color 0.15s ease-in-out;
          cursor: pointer;
  
          &:hover {
            color: var(--text-color-dark);
          }
        }
      }
    }

    div.cta-menu {
      ul.menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
        pointer-events: all;
      }
    }
  }
}

.mobile-logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 50px;
  height: auto;
  z-index: 5;
}

@include device-size('desktop') {
  .mobile-logo {
    display: none;
  }

  .home nav ul.menu li a {
    color: var(--text-color-light);

    &:hover {
      color: var(--accent-color);
    }
  }
}

.home {
  #logo * {
    fill: var(--text-color-light);
  }

  .mobile-menu-trigger span {
    background-color: var(--text-color-light);
  }
}