:root {
  --navigation-height: 60px;
  --main-menu-width: 160px;
  --main-menu-highlight-width: 220px;
}

main {
  padding-top: var(--navigation-height);
}

header {
  &:hover .main-nav {
    > ul > li {
      width: var(--main-menu-width) !important;
    }

    > ul > li.highlight {
      width: var(--main-menu-highlight-width) !important;
    }
  }

  &:hover .subheader {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);

    nav.sub-nav > ul.sub-menu {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .header.desktop {
    @include device-size('tablet') {
      display: grid;
    }

    display: none;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--mainmenu-background-color);

    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: calc(var(--inner-spacing-sm) / 2) 0;

      img {
        object-fit: contain;
        height: calc(var(--navigation-height) - var(--inner-spacing-sm));
        width: 100%;
      }
    }

    // Mainmenu
    nav.main-nav {

      > ul.main-menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
          position: relative;
          font-family: var(--navigation-font-family);
          font-size: var(--navigation-font-size);
          font-weight: var(--navigation-font-weight);
          width: calc-size(auto, size);

          transition: all 0.12s ease-in-out;

          > a {
            display: inline-flex;
            align-items: center;
            justify-content: stretch;
            width: 100%;
            height: var(--navigation-height);
            color: var(--mainmenu-text-color);
            padding: 0 var(--inner-spacing-md);
            text-decoration: none;
          }

        }

        > li.highlight {
          width: var(--main-menu-highlight-width);
          margin-left: 10px;
        }
      }
    }
  }

  .subheader {
    @include device-size('tablet') {
      display: grid;
    }

    display: none;
    position: fixed !important;
    top: var(--navigation-height);
    width: 100%;
    background-color: var(--submenu-background-color);
    z-index: 990;

    // Transition Properties
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;

    transition: 
      opacity 0.12s ease-in-out,
      transform 0.12s ease-in-out;

    // Submenu
    nav.sub-nav {
      > ul.sub-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;

        // Transition Properties
        opacity: 0;
        transform: translateY(-30px);

        transition: 
          opacity 0.12s ease-in-out,
          transform 0.12s ease-in-out;
        transition-delay: 0.06s;
      }
    
      > ul.sub-menu > li {
        width: var(--main-menu-width);
      }
    
      > ul.sub-menu > li > a {
        display: none;
      }

      // Submenu Elements
      > ul.sub-menu > li > ul.sub-menu {
        position: relative;
        padding: var(--inner-spacing-sm) 0 var(--inner-spacing-lg) 0;
        margin-left: var(--inner-spacing-md);
        list-style: none;

        > li {
          width: var(--main-menu-width);
          border-left: 2px solid var(--submenu-background-color-accent);
    
          &:hover {
            border-left-color: var(--accent-color);
          }
    
          > a {
            display: inline-block;
            font-size: .9rem;
            padding: calc(var(--inner-spacing-sm) / 3) calc(var(--inner-spacing-sm) / 3) calc(var(--inner-spacing-sm) / 3) 10px;
            color: var(--submenu-text-color);
            text-decoration: none;
            word-break: break-word;
            hyphens: auto;

            // Transition Properties
            opacity: 0.8;

            transition: opacity 0.12s ease-in-out;
          }

          &:hover {
            > a {
              opacity: 1;
            }
          }
        }
      }

      > ul.sub-menu > li.highlight {
        width: var(--main-menu-highlight-width);
        margin-left: 10px;

        > ul.sub-menu {
          background-color: var(--submenu-background-color-accent);
          height: 100%;

          &::before {
            display: none;
          }

          > li {
            border: none;
            width: 100%;

            > a {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              gap: 10px;
              padding: calc(var(--inner-spacing-sm) / 3) var(--inner-spacing-sm);
              color: var(--submenu-text-color-accent);
            }
          }
        }
      }

      > ul.sub-menu > li.highlight:last-child {
        position: relative;

        > ul.sub-menu:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: var(--submenu-background-color-accent);
          z-index: -1;
        }
      }
    }
  }
}

header.mobile {
  @include device-size('tablet') {
    display: none;
  }

  position: fixed !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 var(--inner-spacing-sm);

  background-color: var(--mainmenu-background-color);

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: calc(var(--inner-spacing-sm) - 2px) 0;

    img {
      object-fit: contain;
      height: calc(60px - (var(--inner-spacing-sm) * 2) + 4px);
      width: 100%;
    }
  }

  .mobile-menu-trigger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 30px;

    > span {
      height: 2px;
      width: 30px;
      background-color: var(--text-color-dark);

      &:nth-child(1) {
        width: 20px;
      }
    }
  }

  .mobile-menu {
    position: absolute;
    top: var(--navigation-height);
    transform: translateX(100%);
    height: calc(100vh - var(--navigation-height));
    overflow-y: auto;
    width: 80%;
    left: 20%;
    background-color: var(--submenu-background-color);
    transition: transform 0.12s ease-in-out;

    &--open {
      transform: translateX(0%);
    }

    // Mainmenu

    > ul.main-menu {
      display: flex;
      flex-direction: column;
      justify-content: right;
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        font-family: var(--navigation-font-family);
        font-size: var(--navigation-font-size);
        font-weight: var(--navigation-font-weight);

        > a {
          display: block;
          padding: var(--inner-spacing-md);
          padding-bottom: calc(var(--inner-spacing-sm) / 3);
          color: var(--submenu-text-color);
          text-decoration: none;
        }
      }

      > li:last-child {
        padding-bottom: var(--inner-spacing-md);
      }

      > li.highlight {
        background-color: var(--submenu-background-color-accent);
        padding-bottom: var(--inner-spacing-md);
        margin-top: var(--inner-spacing-md);

        > a {
          color: var(--submenu-text-color);
        }
      }

      > li.highlight:last-child {
        position: sticky;
        bottom: 0;
      }
    } 

    // Submenu

    > ul.main-menu > li > ul.sub-menu {
      padding-left: calc(var(--inner-spacing-md) + 2px);
      list-style: none;

      > li {
        border-left: 2px solid var(--submenu-background-color-accent);

        > a {
          display: inline-block;
          color: var(--submenu-text-color);
          font-size: .9rem;
          padding: calc(var(--inner-spacing-sm) / 3) 0 calc(var(--inner-spacing-sm) / 3) 10px;
          text-decoration: none;
          word-break: break-word;
          hyphens: auto;
        }
      }
    }

    > ul.main-menu > li.highlight > ul.sub-menu {
      height: 100%;
      padding-left: var(--inner-spacing-md);

      > li {
        border: none;

        > a {
          color: var(--submenu-text-color-accent);
          padding-left: 0;
        }
      }
    }

    > ul.main-menu > li.highlight:last-child > ul.sub-menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--inner-spacing-md);

      > li > a {
        font-size: 1.2rem;
      }
    }
  }
}