:root {
  --navigation-font-size: 16px;
  --navigation-font-weight: 300;
  --navigation-letter-spacing: .05em;

  @include device-size('tablet') {
    --navigation-font-size: 16px;
    --navigation-font-weight: 300;
    --navigation-letter-spacing: .05em;
  }

  @include device-size('desktop') {
    --navigation-font-size: 16px;
    --navigation-font-weight: 300;
    --navigation-letter-spacing: .05em;
  }
}