:root {
  --max-image-height: 60vh;
  --desktop-aspect-ratio: 5 / 3;
  --mobile-aspect-ratio: 1 / 1;
}

.image {
  .content--image {
    z-index: 1;

    .img {
      width: 100%;
      height: 100%;
      max-height: var(--max-image-height);
      object-fit: cover;
      overflow: hidden;
      aspect-ratio: var(--desktop-aspect-ratio);
    }

    img {
      width: 100%;
      height: 100%;
      max-height: var(--max-image-height);
      object-fit: cover;
      aspect-ratio: var(--desktop-aspect-ratio);
    }
  }

  @include device-size('tablet') {
    .img, img {
      aspect-ratio: var(--mobile-aspect-ratio);
      max-height: unset;
    }
  }
}