.inhalt_gross {
  img {
    aspect-ratio: 5/6;
  }

  .content--image {
    margin-bottom: var(--inner-spacing-lg);
  }

  .textbox {
    display: flex;
    flex-direction: column;
    gap: var(--inner-spacing-sm);
  }

  .gdymc_button-group {
    margin-top: var(--inner-spacing-lg);
  }

  @include device-size('tablet') {
    .content--image {
      margin-bottom: 0;
    }

    .textbox {
      gap: var(--inner-spacing-lg);
    }
  }
}