$fa-font-path: '../fontawesome/webfonts';

:root {
  // Spacing
  --inner-spacing-sm: 1rem;
  --inner-spacing-md: 1.5rem;
  --inner-spacing-lg: 2rem;

  --outer-spacing-sm: 2.5rem;
  --outer-spacing-md: 5rem;
  --outer-spacing-lg: 7.5rem;
}
