footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  gap: var(--inner-spacing-lg);

  .footer {
    position: relative;
    margin-top: var(--outer-spacing-md);

    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: var(--inner-spacing-md);

      img {
        height: 80px;
      }
    }

    ul.menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
      gap: var(--inner-spacing-sm);
      margin: 0;
      margin-top: var(--inner-spacing-lg);
      padding: 0;

      li a {
        color: var(--footer-text-color);
        text-decoration: none;
        font-size: var(--p-font-size);
        font-weight: var(--p-font-weight);
        line-height: 1.5;
        transition: color 0.15s ease-in-out;
        cursor: pointer;

        &:hover {
          color: var(--accent-color);
        }
      
      }
    }
  }

  .superfooter {
    position: relative;
    margin-bottom: var(--outer-spacing-md);
    gap: var(--inner-spacing-lg) 0;

    ul.menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      gap: var(--inner-spacing-sm);
      margin: 0;
      margin-top: var(--inner-spacing-lg);
      padding: 0;

      li a {
        color: var(--footer-text-color);
        text-decoration: none;
        font-size: 30px;
        font-weight: var(--p-font-weight);
        line-height: 1;
        transition: color 0.15s ease-in-out;
        cursor: pointer;

        &:hover {
          color: var(--accent-color);
        }
      
      }
    }
  }

  @include device-size('tablet') {
    .footer {
      &.grid {
        margin: var(--outer-spacing-md) 0;
      }

      ul.menu {
        flex-direction: column;
        margin: 0;
      }
    }

    .superfooter {
      &.grid {
        margin: var(--outer-spacing-md) 0;
      }

      ul.menu {
        margin: 0;
      }
    }
  }
}

