.columns {
  display: flex;
  flex-direction: row;
  gap: var(--inner-spacing-lg);

  .content--text {
    position: relative;
    height: 100%;

    .textbox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: var(--inner-spacing-md);
      padding: var(--text-padding-y) var(--text-padding-x);
    }
  
    .gdymc_button-group {
      margin-top: var(--inner-spacing-lg);
    }
  }

  .content--columns {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: var(--container-padding-y) var(--container-padding-x);

    &.vertical {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--inner-spacing-sm);
      
      > .column {
        flex-basis: auto;
        max-width: unset;
        justify-content: flex-start;
        padding: var(--text-padding-y) var(--text-padding-x);
        gap: var(--inner-spacing-md);
        background-color: #f3f3f3;
        border-radius: var(--border-radius-lg);

        .column-header {
          .gdymc_image {
            display: none;
          }
        }
      }
    }

    &.horizontal {
      flex-direction: row;
      height: 100%;
      gap: var(--inner-spacing-sm);
    }

    > * {
      flex-basis: 100%;
      flex-shrink: 0;
      flex-grow: 0;
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: var(--text-padding-y) var(--text-padding-x);
      background-color: #f3f3f3;
      gap: var(--inner-spacing-md);
      border-radius: var(--border-radius-lg);
      position: relative;

      &:last-child {
        border-right: none;
      }
    }

    .column-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--inner-spacing-sm);

      img, .img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
      }
    }

    .column-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--inner-spacing-md);

      .gdymc_button-group {
        gap: var(--inner-spacing-sm);
      }
    }
  }

  @include device-size('tablet') {
    .content--text {
      min-height: 60vh;
    }

    .content--columns {
      flex-wrap: wrap;
      gap: 2px;

      &.horizontal {
        .column {
          flex-basis: calc(100% - var(--inner-spacing-sm));
          max-width: calc(100% - var(--inner-spacing-sm));
        }
      }

      .column {
        .column-header {
          .gdymc_image + h6.subline {
            padding: var(--inner-spacing-sm);
          }

          h6.subline {
            padding: var(--text-padding-y) var(--inner-spacing-sm);
          }
        }
      }
    }
  }

  @include device-size('desktop') {
    .content--columns {
      &.horizontal {
        .column {
          flex-basis: calc(100% / 2 - var(--inner-spacing-sm));
          max-width: calc(100% / 2 - var(--inner-spacing-sm));
        }
      }
    }
  }
}

.background {
  &-neutral {
    .columns {
      .content--columns:is(.horizontal, .vertical) {
        > .column {
          background-color: var(--base-color-light);
        }
      }
    }
  }

  &-light {
    .columns {
      .content--columns:is(.horizontal, .vertical) {
        > .column {
          background-color: var(--base-color-light);
        }
      }
    }
  }

  &-dark {
    .columns {
      .content--columns:is(.horizontal, .vertical) {
        > .column {
          background-color: var(--base-color-dark);
        }
      }
    }
  }

  &-accent {
    .columns {
      .content--columns:is(.horizontal, .vertical) {
        > .column {
          background-color: var(--accent-color-dark);
        }
      }
    }
  }
}