.cta a,
input[type="submit"].button,
.button {
  display: inline-block;
  text-decoration: none;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  white-space: nowrap;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.22s ease-in-out,
              background-color 0.22s ease-in-out;

  // Color variations
  background-color: var(--base-color);
  color: var(--text-color-light);

  &:hover {
    background-color: var(--base-color-dark);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  &.button-primary {
    background-color: var(--accent-color);
    color: var(--text-color-light);

    &:hover {
      background-color: var(--accent-color-dark);
    }
  }
}

.gdymc_button-group {
  display: flex;
  flex-direction: column;
  gap: var(--inner-spacing-sm);
  padding: 0;
}