:root {
  --button-font-size: 18px;
  --button-font-weight: 700;
  --button-letter-spacing: 1.8px;
  --button-line-height: 140%;

  @include device-size('tablet') {
    --button-font-size: 18px;
    --button-font-weight: 700;
    --button-letter-spacing: 1.8px;
    --button-line-height: 140%;
  }

  @include device-size('desktop') {
    --button-font-size: 18px;
    --button-font-weight: 600;
    --button-letter-spacing: 1.8px;
    --button-line-height: 140%;
  }
}